In [2]:
import pandas as pd
excel = pd.read_excel('../../OPT Shared files/2_Saved reconstructions/fd_focal scan/bead profiles.xlsx')
excel.head()

,Unnamed: 0,Tangential profile,Unnamed: 2,Radial profile,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,Bead x,81.0,NaN,NaN,NaN,236.0,NaN,NaN,NaN,411.0,...,NaN,NaN,606.0,NaN,NaN,NaN,421.0,NaN,NaN,NaN
1,Bead y,691.0,NaN,NaN,NaN,618.0,NaN,NaN,NaN,348.0,...,NaN,NaN,332.0,NaN,NaN,NaN,611.0,NaN,NaN,NaN
2,Slice,4.0,NaN,NaN,NaN,597.0,NaN,NaN,NaN,595.0,...,NaN,NaN,926.0,NaN,NaN,NaN,1333.0,NaN,NaN,NaN
3,NaN,0.0,1.5000,0.0,0.0,0.0,38.000,0.0,0.0,0.0,...,0.0,0.0,0.0,33.203,0.0,0.0,0.0,20.222,0.0,0.0
4,NaN,1.0,1.8738,1.0,0.0,1.0,65.091,1.0,0.0,1.0,...,1.0,0.0,1.0,85.648,1.0,0.0,1.0,26.119,1.0,0.0

Rotate image based on 

$$\theta = \arctan(\frac{b}/a)$$

In [9]:
excel.iloc[0].dropna()

Unnamed: 0            Bead y
Tangential profile     691.0
Unnamed: 5             618.0
Unnamed: 9             348.0
Unnamed: 13            682.0
Unnamed: 17            466.0
Unnamed: 21            452.0
Unnamed: 25            221.0
Unnamed: 29            903.0
Unnamed: 33            332.0
Unnamed: 37            611.0
Name: 1, dtype: object

In [3]:
from skimage import io
from skimage.transform import rotate

im = io.imread('../../OPT Shared files/2_Saved reconstructions/fd_focal scan/fd_infocus/reco0004.tif')

array([[2, 2, 2, ..., 2, 1, 1],
       [0, 1, 2, ..., 1, 0, 1],
       [0, 1, 2, ..., 1, 0, 2],
       ...,
       [1, 1, 1, ..., 1, 0, 1],
       [2, 1, 1, ..., 1, 1, 2],
       [1, 1, 2, ..., 2, 2, 2]], dtype=uint16)